/* Green Header */
.header {
  background-color: #3e4f3d ; /* Green color */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px #3e4f3d;
}

.header-title {
  color: rgb(227, 240, 224);
  font-size: 24px;
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

/* Sign In and Login Buttons */

.logout {
  padding: 8px 16px;
  background-color: rgb(227, 240, 224);
  color: #3e4f3d ; /* Green color */
  border: none;
  border-radius: 5px;
  /* height: 100px; */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.sign-in-btn,
.login-btn {
  padding: 8px 16px;
  background-color: rgb(227, 240, 224);
  color: #3e4f3d ; /* Green color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-btn:hover,
.sign-in-btn:hover,
.login-btn:hover {
  background-color: rgb(227, 240, 224); /* Light gray on hover */
}

/* Main Content */
.main-content {
  text-align: center;
  margin-top: 40px;
}

.start-practice-btn {
  padding: 15px 30px;
  background-color: #3e4f3d;
  color: rgb(227, 240, 224);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

/* Benefits Section */
.benefits-section {
  margin: 40px 0;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.benefit {
  background-color: rgb(227, 240, 224);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #3e4f3d;
}

/* How It Works Section */
.how-it-works-section {
  margin: 40px 0;
}

.how-it-works-section ol {
  padding-left: 20px;
}

.how-it-works-section ol li {
  margin-bottom: 10px;
}